 *{
    margin: 0px;
    padding: 0px;
    /* #7e5e61 */
}
body{
    overflow-x: hidden;
}
.box{
    display: inline-block;
    background-color: #b8aeac;
    height: 500px;
    width: 100% ;
    position: relative;

}
.inner{
    background-color: #7e5e61 ;
    height: 500px;
    width: 65%;
    position: absolute; 
    top: 0;
}
.inn{
    background-color:#450a22 ;
    height: 500px;
    width: 45%;
    position: absolute; 
    top: 0;
    z-index: 2;
}

.mine{
    position: absolute;
   z-index: 4;
   top: 20px;
   left: 10px;

}





.alia{
   position: absolute;
   z-index: 4;
   top: 44px;
   left: 20%;
   width: 350px;  
   height: auto;

}
.kareena{
    position: absolute;
    z-index: 3;
    top: 30px;
    left: 38%;
    width: 340px;  
    height: auto;
    
 
 } 

 /* .sq{
    background-color:#450a22 ;
    height: 350px;
    width: 350px;
    position: absolute;
    top: 0px;
    z-index: 5;

    right: 80px;

 } */

 .logo{
    position: absolute;
    z-index: 6;
    top: 0px;
    right:80px ;
    width: 340px;  
    height: auto;
 }

 .btm{
    background-color:#b8aeac ;
    height: 60px;
    width: 100%;
    position: absolute; 
    top: 470px;
    z-index: 7;
    border: black solid 1px;
    border-radius: 10px;
    
 }

 .txt{
    color: #630d2f;
    font-family: "charm";
    font-size: 35px;
    text-align: center;
    /* letter-spacing: 3px; */
    transform: scaleX(1.4);

 }

 .container{
    margin-top: 60px;
    top: 200px;
    
 }

 .jew{
    margin: 9px;
    height: 230px;
    width: 230px;
    
 }
 .circle{
    position: absolute;
    background-color: #80123e;
    height: 250px;
    width: 250px;
    border-radius: 100%;
    left: 40%;


.ele{
    font-family: "montserrat";
    color: #b8aeac;
    font-size: 18px;
    text-align: center;
    padding-top: 70px;
    font-weight: bold;
    line-height: 1.5;
}
 }
 /* #id3{
    
    

 } */

 .adv{
    margin-top: 15px;
    color: #80123e;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    word-spacing: 8px;
    font-family: "montserrat";
    
 }

 .box2{
    background-color: #b8aeac;
    border-radius: 30px;
    height: 190px;
    width: 100%;
    position: relative;
    margin-top: 20px;
 }

 .pay{
    color: #80123e;
    font-weight: bold;
    font-size: 35px;
    margin-left: 30px;
    padding-top: 40px;
    font-family: "montserrat";
    line-height: 1;
    
    }

.per{
    font-family: "montserrat";
    font-size: 90px; 
}

    


 .title{
    position: absolute;
    font-size: 25px;
    color: #80123e;
    top: 10px;
    left: 23%; 
    font-weight: 630; 
    font-family: "montserrat";
} 
.para{
    position: absolute;
    font-size: 22px;
    color: #000000;
    top: 50px;
    left: 23%; 
    font-family: "montserrat"; 
} 

.store{
    font-family: "montserrat";
    font-weight: bold;
    color: #80123e;
    
}
.loc{
    font-family: "montserrat";
    font-weight: bold; 
    line-height: 1.5; 
}
.pos{
    margin-top: 20px;
}

hr{
    border: none;              
    height: 2px;              
    background-color: #000;
    margin-top: 10px;
    margin-bottom: 15px;   
}

.call{
    font-family: "montserrat";
    font-weight: bold;
    font-size: 50px;
    padding-left: 6%;
}

.online{
    font-family: "montserrat";
    font-weight: 500;
    font-size: 27px;
    padding-left: 2%;
}
.str{
    font-family: "montserrat";
    /* font-weight: 500; */
    font-size: 30px;
    padding-left: 40%;
    letter-spacing: 6px;
}